<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>自定义登录页</title>
</head>
<body>
    <th:text style="text-align:center">请登录：</th:text>
    <form action="/login" style="text-align: center">
        用户名：<input type="text" name="uname" placeholder="username"><p></p>
        密  码：<input type="text" name="upwd" placeholder="password"><p></p>
        <button type="submit" style="text-align: center">提交</button><p></p>
        <button type="reset" style="text-align: center">重置</button>
    </form>
</body>
</html>